.main-container {
    gap: 10px;
    display: flex;
    flex-direction: column;
    color: black;
    border-radius: 5px;
    border: 1px solid green;
    justify-content: center;
    width: 100%;
}

.out-container {
    padding: 15px;
    background-color: azure;
    display: flex;
    justify-content: center;
    border-radius: 16px;
    min-width: calc(25vw);
    min-height: calc(35vh);
}

.container-item {
    width: 100%;
}